In [2]:
import numpy as np

import pandas as pd

my_data = np.array([[5, 'a', 1],
              [3, 'b', 3],
              [1, 'b', 2],
              [3, 'a', 1],
              [4, 'b', 2],
              [7, 'c', 1],
              [7, 'c', 1]]) 
                   
df = pd.DataFrame(data=my_data, columns=['y', 'dummy', 'x'])

df

   y dummy  x
0  5     a  1
1  3     b  3
2  1     b  2
3  3     a  1
4  4     b  2
5  7     c  1
6  7     c  1

In [4]:
just_dummies = pd.get_dummies(df['dummy'])
just_dummies

   a  b  c
0  1  0  0
1  0  1  0
2  0  1  0
3  1  0  0
4  0  1  0
5  0  0  1
6  0  0  1

In [8]:
step_1 = pd.concat([df, just_dummies], axis=1)

step_1

   y dummy  x  a  b  c
0  5     a  1  1  0  0
1  3     b  3  0  1  0
2  1     b  2  0  1  0
3  3     a  1  1  0  0
4  4     b  2  0  1  0
5  7     c  1  0  0  1
6  7     c  1  0  0  1

In [9]:
step_1.drop(['dummy', 'c'], inplace=True, axis=1) 
step_1

   y  x  a  b
0  5  1  1  0
1  3  3  0  1
2  1  2  0  1
3  3  1  1  0
4  4  2  0  1
5  7  1  0  0
6  7  1  0  0